<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="userBaru" placeholder="Ketikkan Kata Kunci"/> <input type="button" v-on:click="tambahUser(userBaru)" value="Add">
        <input type="text" v-model="userUpdate" placeholder="Ketikkan Kata Kunci"/> <input type="button" v-on:click="updateUser(userUpdate)" value="Update">
        <ul>
            <li v-for="user in users">{{ user.name }} <input type="button" @click="editUser(user)" value="Edit"> <input type="button" @click="hapusUser(user)" value="Delete"></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
         var app = new Vue({
            el: '#app',
            data: function() {
                return {
                    userBaru: "",
                    userUpdate: "",
                    users: [
                        {
                            'name' : 'Muhammad Iqbal Mubarok',
                        },
                        {
                            'name' : 'Ruby Purwanti',
                        },
                        {
                            'name' : 'Faqih Muhammad',
                        },
                    ]
                }
            },
            computed: {
            },
            methods: {
                tambahUser: function(user) {
                    let object = {
                        'name' : user,
                    }

                    this.users.push(object)
                },
                updateUser: function(user) {

                },
                editUser: function(user) {
                    this.userUpdate = user.name
                },
                hapusUser: function(user) {
                    this.index = this.users.indexOf(user);
                    this.users.splice(this.index, 1);
                }
            },
    });
    </script>
</body>
</html>
