<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="search" placeholder="Ketikkan Kata Kunci"/>
        <ul>
            <li v-for="book in filterBooks">{{ book }}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
         var app = new Vue({
            el: '#app',
            data: {
                search: "",
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritman Pemrograman'
                ]
            },
            computed: {
                filterBooks: function() {
                    return this.books.filter(book => {return book.toLowerCase().includes(this.search.toLowerCase())})
                }
        }
    });
    </script>
</body>
</html>